# Python Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/

# Environments
.venv/
venv/
ENV/
env/

# Project Data & Logs
data/*.db
data/*.sqlite
logs/
*.log
*.pyc
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

